In [21]:
import pandas as pd
import numpy as np

In [22]:
s = np.random.rand(8)
s[5] = np.nan
s

array([0.24725484, 0.84668027, 0.53034697, 0.95237132, 0.64737386,
              nan, 0.53585748, 0.35543194])

In [23]:
serias = pd.Series(s)
serias

0    0.247255
1    0.846680
2    0.530347
3    0.952371
4    0.647374
5         NaN
6    0.535857
7    0.355432
dtype: float64

In [24]:
df = pd.read_csv('Churn.csv')
df

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [25]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   customerID        7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7043 non-null   object
dtypes: float64(2), int64(3), object(17)
memory usage: 1.2+ MB

In [26]:
df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [27]:
df.tail(10)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7033,7033,9767-FFLEM,Male,0,No,No,38,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),69.50,2625.25,No
7034,7034,0639-TSIQW,Female,0,No,No,67,Yes,Yes,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),102.95,6886.25,Yes
7035,7035,8456-QDAVC,Male,0,No,No,19,Yes,No,Fiber optic,...,No,No,Yes,No,Month-to-month,Yes,Bank transfer (automatic),78.70,1495.10,No
7036,7036,7750-EYXWZ,Female,0,No,No,12,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,One year,No,Electronic check,60.65,743.30,No
7037,7037,2569-WGERO,Female,0,No,No,72,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No
7038,7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [28]:
df.to_numpy()

array([[0, '7590-VHVEG', 'Female', ..., 29.85, 29.85, 'No'],
       [1, '5575-GNVDE', 'Male', ..., 56.95, 1889.5, 'No'],
       [2, '3668-QPYBK', 'Male', ..., 53.85, 108.15, 'Yes'],
       ...,
       [7040, '4801-JZAZL', 'Female', ..., 29.6, 346.45, 'No'],
       [7041, '8361-LTMKD', 'Male', ..., 74.4, 306.6, 'Yes'],
       [7042, '3186-AJIEK', 'Male', ..., 105.65, 6844.5, 'No']],
      shape=(7043, 22), dtype=object)

In [29]:
df.columns

Index(['Unnamed: 0', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges',
       'Churn'],
      dtype='object')

In [30]:
df.describe()

        Unnamed: 0  SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count  7043.000000    7043.000000  7043.000000     7043.000000   7032.000000
mean   3521.000000       0.162147    32.371149       64.761692   2283.300441
std    2033.283305       0.368612    24.559481       30.090047   2266.771362
min       0.000000       0.000000     0.000000       18.250000     18.800000
25%    1760.500000       0.000000     9.000000       35.500000    401.450000
50%    3521.000000       0.000000    29.000000       70.350000   1397.475000
75%    5281.500000       0.000000    55.000000       89.850000   3794.737500
max    7042.000000       1.000000    72.000000      118.750000   8684.800000

In [31]:
df['gender']

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object

In [32]:
df[0:3]

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [33]:
df.iloc[5::-1,[2,4]]

   gender Partner
5  Female      No
4  Female      No
3    Male      No
2    Male      No
1    Male      No
0  Female     Yes

In [34]:
df.loc[:,["Partner"]]

     Partner
0        Yes
1         No
2         No
3         No
4         No
...      ...
7038     Yes
7039     Yes
7040     Yes
7041     Yes
7042      No

[7043 rows x 1 columns]

In [35]:
df.index

RangeIndex(start=0, stop=7043, step=1)

In [36]:
# Boolean indexing
df[df["gender"]=='Male']

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
6,6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No
9,9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7033,7033,9767-FFLEM,Male,0,No,No,38,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),69.50,2625.25,No
7035,7035,8456-QDAVC,Male,0,No,No,19,Yes,No,Fiber optic,...,No,No,Yes,No,Month-to-month,Yes,Bank transfer (automatic),78.70,1495.10,No
7038,7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7041,7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [37]:
# setting value by index
print("before",df.loc[5,"gender"])
df.loc[5,"gender"] = "Male"
print("after :",df.loc[5,"gender"])
df.iloc[5,[2]]

before Female
after : Male

gender    Male
Name: 5, dtype: object

In [43]:
#Operations 
df.mean(numeric_only=True)

Unnamed: 0        3521.000000
SeniorCitizen        0.162147
tenure              32.371149
MonthlyCharges      64.761692
TotalCharges      2283.300441
dtype: float64

In [62]:
#Userdefine function 
df2 = pd.DataFrame(np.random.rand(5,6),columns=list('ABCDEF'))
df2

          A         B         C         D         E         F
0  0.487379  0.711755  0.763640  0.063977  0.298453  0.957315
1  0.270277  0.356842  0.834236  0.061758  0.385564  0.700007
2  0.715268  0.609316  0.031228  0.468612  0.847526  0.744448
3  0.248250  0.037413  0.983498  0.504935  0.282499  0.237434
4  0.199920  0.618629  0.586246  0.135018  0.494574  0.340729

In [63]:
df2 = df2.agg(lambda x:x*10)
df2

          A         B         C         D         E         F
0  4.873795  7.117550  7.636401  0.639769  2.984532  9.573155
1  2.702770  3.568420  8.342359  0.617576  3.855637  7.000071
2  7.152678  6.093158  0.312284  4.686125  8.475261  7.444480
3  2.482502  0.374126  9.834977  5.049352  2.824989  2.374336
4  1.999196  6.186294  5.862456  1.350177  4.945745  3.407291

In [68]:
df2 = df2.transform(lambda x:x/10)
df2

          A         B         C         D         E         F
0  0.004874  0.007118  0.007636  0.000640  0.002985  0.009573
1  0.002703  0.003568  0.008342  0.000618  0.003856  0.007000
2  0.007153  0.006093  0.000312  0.004686  0.008475  0.007444
3  0.002483  0.000374  0.009835  0.005049  0.002825  0.002374
4  0.001999  0.006186  0.005862  0.001350  0.004946  0.003407

In [75]:
print(df2.value_counts())
print("--------------------")
print(df2['A'].value_counts())

A         B         C         D         E         F
0.001999  0.006186  0.005862  0.001350  0.004946  0.003407    1
0.002483  0.000374  0.009835  0.005049  0.002825  0.002374    1
0.002703  0.003568  0.008342  0.000618  0.003856  0.007000    1
0.004874  0.007118  0.007636  0.000640  0.002985  0.009573    1
0.007153  0.006093  0.000312  0.004686  0.008475  0.007444    1
Name: count, dtype: int64
--------------------
A
0.004874    1
0.002703    1
0.007153    1
0.002483    1
0.001999    1
Name: count, dtype: int64

In [87]:
#Merge, Concat : Similar to SQL join query
df = pd.DataFrame(np.random.randn(10, 4))
pieces = [df.iloc[:3,[0,1]], df.iloc[3:7,[3,1]], df.iloc[7:,[0,2]]]
new_df = pd.concat(pieces)
new_df

          0         1         3         2
0 -1.258072  0.183707       NaN       NaN
1 -0.921716  0.851178       NaN       NaN
2  3.442364  0.135948       NaN       NaN
3       NaN -0.335136 -0.242201       NaN
4       NaN -0.831034 -1.382744       NaN
5       NaN -0.446955  1.175805       NaN
6       NaN -0.764419  1.180896       NaN
7  1.090105       NaN       NaN  0.804759
8 -1.298080       NaN       NaN  2.238047
9 -1.065201       NaN       NaN  0.026306

In [103]:
students = {
    "id":[1,2,3,5],
    "Name":["Vedant","A","B","C"]
}
marks = {
    "id" : range(1,5),
    "CGPA":np.random.rand(4)*10
}
stu = pd.DataFrame(students)
stu= stu.set_index('id')
mark = pd.DataFrame(marks)
mark = mark.set_index('id')
new_df = pd.merge(stu,mark,on="id",how="outer")
# new_df.shift(1)
new_df

      Name      CGPA
id
1   Vedant  2.233646
2        A  8.122900
3        B  7.564975
4      NaN  6.666003
5        C       NaN

In [129]:
# Grouping
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
print(df)
print(df.groupby(['B','A']).max()['C'])

     A      B         C         D
0  foo    one -1.330437  0.460499
1  bar    one  1.414922  0.300852
2  foo    two -2.622273  1.247941
3  bar  three -0.442488  1.746123
4  foo    two -0.181754  1.455953
5  bar    two  1.179192 -0.181878
6  foo    one -1.978798 -3.115907
7  foo  three -0.925626  2.097142
B      A
one    bar    1.414922
       foo   -1.330437
three  bar   -0.442488
       foo   -0.925626
two    bar    1.179192
       foo   -0.181754
Name: C, dtype: float64